.navbar-admin {
  padding: 10px 16px;
  background: rgba(5, 5, 5, 0.613);
}
.navbar-admin-container {
  display: flex;
  justify-content: space-between;
  width: 80%; /* đặt chiều rộng của container */
  margin: 0 auto;
  font-size: 20px;
}

.navbar-admin-container .navbar-admin-ul {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-weight: 500;
}

.caret {
  vertical-align: middle;
  padding-left: 10px;
  font-weight: 500;
}
.caret:hover {
  color: #ff8013;
}
.dropdown-toggle:hover {
  font-weight: 800;
  color: #fff;
}
.dropdown-toggle::after {
  vertical-align: middle;
}

.dropdown-menu li:hover a {
  color: #ff8013;
}

/*  */

.table td {
  font-size: 16px;
  font-weight: bold;
}
